<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">

    /* tooltip */
    #tooltip{
      position:absolute;
      border:1px solid #ccc;
      background:#333;
      padding:2px;
      display:none;
      color:#fff;
    }
  </style>
</head>
<body style="padding:10px;">

  <div class="layui-tab">
    <ul class="layui-tab-title">
      <li class="layui-this">商品列表</li>
      <li><a href="{:url('admin/WarehouseGood/publish')}" class="a_menu">添加商品</a></li>
      <li><a href="{:url('admin/WarehouseGood/import')}" class="a_menu">表格导入商品</a></li>
    </ul>
  </div>
  <form class="layui-form serch" action="{:url('admin/WarehouseGood/index')}" style="height: 95px" method="post">
    <div class="layui-form-item" style="float: left;">
      <div class="layui-input-inline">
        <input type="text" name="keywords" lay-verify="title" autocomplete="off" placeholder="商品名称" class="layui-input layui-btn-sm">
      </div>
      <div class="layui-input-inline province_div">
        <select name="category_id" lay-verify="" class="one" lay-filter="one">
          <option value="">请选择分类</option>
          {if !empty($category)}
          {foreach name="category" item="v"}
          <option value="{$v.category_id}" >{$v.category_name}</option>
          {/foreach}
          {/if}
        </select>
      </div>

      <div class="layui-input-inline two_div">

      </div>
      <div class="layui-input-inline three_div">

      </div>
      <div class="layui-inline">
        <label class="layui-form-label">日期范围</label>
        <div class="layui-input-inline">
          <input type="text" name="time" class="layui-input" id="test6" placeholder=" - ">
        </div>
      </div>
      <div class="layui-input-inline">
        <input type="text" name="good_coding" lay-verify="title" autocomplete="off" placeholder="商品编号" class="layui-input layui-btn-sm">
      </div>
      <div class="layui-input-inline province_div">
        <select name="tax_status" lay-verify="">
          <option value="">请选择发票</option>
          <option value="1">专票13%</option>
          <option value="2">专票1%</option>
          <option value="3">普票</option>
          <option value="4">无票</option>
        </select>
      </div>
      <div class="layui-input-inline province_div">
        <select name="project_id" lay-search="" lay-verify="">
          <option value="">项目商品</option>
          {foreach name="project" item="v"}
          <option value="{$v.id}">{$v.project}</option>
          {/foreach}
        </select>
      </div>
      <button class="layui-btn layui-btn-danger layui-btn-sm" lay-submit="" onclick="" lay-filter="serch">立即提交</button>
    </div>
  </form>
  <div class="layui-form" style="display: block">
    <div class="layui-table-box">

      <div class="layui-table-body layui-table-main" style="">
        <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
          <tbody>
          <tr>

            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">ID</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">商品分类</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">商品品牌</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">商品名称</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">商品备注</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">商品规格</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">库存余量</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">商品编码</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">最低出库价</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">仓库位置</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">积压报警天数</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">状态</span></div>
            </th>
            <th>
              <div class="layui-table-cell"><span style="font-weight: bold">创建时间</span></div>
            </th>
            <th>
              <div class="layui-table-cell laytable-cell-1-0-15"><span style="font-weight: bold">操作</span></div>
            </th>

          </tr>
          {volist name="data" id="vo"}
          <tr>
            <td>
              <div class="layui-table-cell ">{$vo.good_id}</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.category.category_name}</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.good_brand|default='无'}</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.good_name}</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.good_desc}</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.good_sku}</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.good_number}</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.good_coding}</div>
            </td>
            <td>
              <div class="layui-table-cell " style="color: green;">{$vo.good_lowest_price}元</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.good_position}</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.good_warn_day}天</div>
            </td>
            <td>
              <div class="layui-table-cell ">{if $vo.good_number <= 0}
                <span class="layui-badge layui-bg-red" title="库存为空" style="cursor:pointer;">!</span>
                {elseif $vo.good_number<=$vo.good_warn/}
                <span class="layui-badge layui-bg-orange" title="库存不足" style="cursor:pointer;">!</span>
                {/if}
                {if !empty($vo.good_warn_day_warn) and $vo.good_warn_day_warn == 1}
                <span class="layui-badge layui-bg-black" title="库存积压" style="cursor:pointer;">!</span>
                {/if}</div>
            </td>
            <td>
              <div class="layui-table-cell ">{$vo.create_time|default=''}</div>
            </td>

            <td class="">

              <div class="layui-table-cell laytable-cell-1-0-15">
                <a href="javascript:" class="layui-btn layui-btn-xs GoodEnter" data-url="{:url('admin/WarehouseGoodLog/GoodEnter')}?good_id={$vo.good_id}">入库</a>
                <a href="javascript:" class="layui-btn layui-btn-xs  {if $vo.good_number>0}GoodOut{else}NoGoodOut{/if}" data-url="{:url('admin/WarehouseGoodLog/GoodOut')}?good_id={$vo.good_id}">出库</a>
                <!--                <a href="javascript:" class="layui-btn layui-btn-xs  GoodReturn" data-url="{:url('admin/WarehouseGoodLog/GoodReturn')}?good_id={$vo.good_id}">退货</a>-->
                <a href="javascript:" class="layui-btn layui-btn-xs  GoodLog" data-url="{:url('admin/WarehouseGoodLog/GoodLog')}?good_id={$vo.good_id}">日志</a>
                <a href="javascript:" class="layui-btn layui-btn-xs  supplier" data-url="{:url('admin/supplier/supplier_details')}?good_id={$vo.good_id}">供应商</a>
                <a href="{:url('admin/WarehouseGood/edit',['good_id'=>$vo.good_id])}" class="layui-btn layui-btn-xs a_menu ">修改</a>
                <a href="javascript:" class="layui-btn layui-btn-xs " onclick="del(this,'{$vo.good_id}')">删除</a>

              </div>
            </td>
          </tr>
          {/volist}

          </tbody>
        </table>
      </div>
      <div class="layui-table-fixed layui-table-fixed-l">
        <div class="layui-table-header">
          <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
            <thead>
            <tr>
              <th data-field="id" data-key="1-0-2" class=" layui-unselect">
                <div class="layui-table-cell"><span style="font-weight: bold">ID</span></div>
              </th>
            </tr>
            </thead>
          </table>
        </div>
        <div class="layui-table-body" style="">
          <table cellspacing="0"  style="margin:0px 0px 0px 0px" cellpadding="0" border="0" class="layui-table">
            <tbody>
            {volist name="data" id="vo"}
            <tr>
              <td>
                <div class="layui-table-cell">{$vo.good_id}</div>
              </td>
            </tr>
            {/volist}
            </tbody>
          </table>
        </div>
      </div>
      <div class="layui-table-fixed layui-table-fixed-r" style="right: 0px;">
        <div class="layui-table-header" style="overflow:auto">
          <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
            <thead>
            <tr>
              <th data-field="10" data-key="1-0-10" class=" layui-table-col-special">
                <div class="layui-table-cell laytable-cell-1-0-15" align="center"><span style="font-weight: bold">操作</span></div>
              </th>
            </tr>
            </thead>
          </table>
        </div>
        <div class="layui-table-body" style="">
          <table cellspacing="0" cellpadding="0"  style="margin:0px 0px 0px 0px" border="0" class="layui-table">
            <tbody>
            {volist name="data" id="vo"}
            <tr>
              <td class="">
                <div class="layui-table-cell laytable-cell-1-0-15">
                  <a href="javascript:" class="layui-btn layui-btn-xs GoodEnter" data-url="{:url('admin/WarehouseGoodLog/GoodEnter')}?good_id={$vo.good_id}">入库</a>
                  <a href="javascript:" class="layui-btn layui-btn-xs  {if $vo.good_number>0}GoodOut{else}NoGoodOut{/if}" data-url="{:url('admin/WarehouseGoodLog/GoodOut')}?good_id={$vo.good_id}">出库</a>
                  <!--                <a href="javascript:" class="layui-btn layui-btn-xs  GoodReturn" data-url="{:url('admin/WarehouseGoodLog/GoodReturn')}?good_id={$vo.good_id}">退货</a>-->
                  <a href="javascript:" class="layui-btn layui-btn-xs  GoodLog" data-url="{:url('admin/WarehouseGoodLog/GoodLog')}?good_id={$vo.good_id}">日志</a>
                  <a href="javascript:" class="layui-btn layui-btn-xs  supplier" data-url="{:url('admin/supplier/supplier_details')}?good_id={$vo.good_id}">供应商</a>
                  <a href="{:url('admin/WarehouseGood/edit',['good_id'=>$vo.good_id])}" class="layui-btn layui-btn-xs a_menu ">修改</a>
                  <a href="javascript:" class="layui-btn layui-btn-xs " onclick="del(this,'{$vo.good_id}')">删除</a>
                </div>
              </td>
            </tr>
            {/volist}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <style>.laytable-cell-1-0-0 {
      width: 48px;
    }

    .laytable-cell-1-0-1 {
      width: 80px;
    }

    .laytable-cell-1-0-2 {
      width: 80px;
    }

    .laytable-cell-1-0-3 {
      width: 80px;
    }

    .laytable-cell-1-0-4 {
      width: 80px;
    }

    .laytable-cell-1-0-5 {
      width: 160px;
    }

    .laytable-cell-1-0-6 {
      width: 80px;
    }

    .laytable-cell-1-0-7 {
      width: 80px;
    }

    .laytable-cell-1-0-8 {
      width: 135px;
    }

    .laytable-cell-1-0-9 {
      width: 80px;
    }

    .laytable-cell-1-0-10 {
      width: 178px;
    }</style>
  </div>
  <div style="padding:0 20px;">{$data->render()}</div>
  {include file="public/foot"}
</body>
</html>
<script type="text/javascript">
  $('.layui-btn,.layui-badge').hover(function () {
    var msg = $(this).attr('title')
    if(msg != undefined){
      layer.tips(msg,$(this),{
        tips: 3
      });
    }
  })
  function del(obj,good_id){
    layer.confirm('确认要删除吗？',function(index){
      //发异步删除数据
      $.ajax({
        url:"{:url('admin/WarehouseGood/delete')}",
        data:{good_id:good_id},
        success:function(res) {
          layer.msg(res.msg);
          if(res.code == 1) {
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
          }
        }
      })
    });
  }
  $(document).on('click','.GoodEnter',function () {
    var url = $(this).data('url')
    layer.open({
      type: 2
      ,title: '入库'
      ,content:url
      ,area: ['90%', '90%']
      ,btn: ['关闭']
      ,yes: function(index, layero){
        layer.close(index)
      }
    })
  })
  $(document).on('click','.supplier',function () {
    var url = $(this).data('url')
    layer.open({
      type: 2
      ,title: '供应商'
      ,content:url
      ,area: ['90%', '90%']
      ,btn: ['关闭']
      ,yes: function(index, layero){
        layer.close(index)
      }
    })
  })
  $(document).on('click','.GoodOut',function () {
    var url = $(this).data('url')
    layer.open({
      type: 2
      ,title: '出库'
      ,content:url
      ,area: ['90%', '90%']
      ,btn: ['关闭']
      ,yes: function(index, layero){
        layer.close(index)
      }
    })
  })
  $(document).on('click','.NoGoodOut',function () {
    layer.msg('该商品库存不足，不可出库，请联系管理员进行整理库存！')
  })
  $(document).on('click','.GoodLog',function () {
    var url = $(this).data('url')
    layer.open({
      type: 2
      ,title: '日志'
      ,content:url
      ,area: ['90%', '90%']
      ,btn: ['关闭']
      ,yes: function(index, layero){
        layer.close(index)
      }
    })
  })
  $(document).on('click','.GoodReturn',function () {
    var url = $(this).data('url')
    layer.open({
      type: 2
      ,title: '退货'
      ,content:url
      ,area: ['90%', '90%']
      ,btn: ['关闭']
      ,yes: function(index, layero){
        layer.close(index)
      }
    })
  })
</script>
<script>
  layui.use(['form', 'layer'], function () {
    $ = layui.jquery;
    var form = layui.form;
    //选择省时触发事件获取其下市数据
    form.on('select(one)', function(data){
      var item = $(this).parents('.layui-form-item')
      // console.log(item)
      $('.two_div').html('')
      $('.three_div').html('')
      address(data,item)
    });
    form.on('select(city)', function(data){
      var item = $(this).parents('.layui-form-item')
      // console.log(item)
      $('.three_div').html('')
      address_qu(data,item)
    });

    // $(window).on('load', function() {
    //   var item = $(this)
    //   var data=[];
    //   data.value="{$data.user_sheng|default=''}";
    //   address(data,item)
    // });

    function address(data,item){
      if(data.value == undefined || data.value == null || data.value == ''){
        return false;
      }
      layer.load()
      $.getJSON("{:url('admin/WarehouseGoodCategory/two')}?category_id="+data.value, function(data){
        if(data.code == '1'){
          var str= '          <select lay-verify="required" name="category_id" class="two" lay-filter="city">\n' +
                  '            <option value="">请选择市</option>\n' +
                  '          </select>\n';
          $('.two_div').html(str)
          var optionstring = "";
          $.each(data.data, function(i,item ){
            optionstring += "<option value=\"" + item.category_id + "\">" + item.category_name + "</option>";
          });
          $(".two").html('<option value=""></option>' + optionstring);
          form.render('select');
          layer.closeAll()
        }else{
          layer.closeAll()
          // layer.msg(data.msg);
        }
      });
    }
    function address_qu(data,item){
      layer.load()
      $.getJSON("{:url('admin/WarehouseGoodCategory/three')}?category_id="+data.value, function(data){
        if(data.code == '1'){
          var str='          <select lay-verify="required" name="category_id" class="three" lay-filter="qu">\n' +
                  '            <option value="">请选择区/县</option>\n' +
                  '          </select>\n';
          $('.three_div').html(str)
          var optionstring = "";
          $.each(data.data, function(i,item ){
            optionstring += "<option value=\"" + item.category_id + "\">" + item.category_name + "</option>";
          });
          $(".three").html('<option value=""></option>' + optionstring);
          form.render('select');
          layer.closeAll()
        }else{
          layer.closeAll()
          // layer.msg(data.msg);
        }
      });
    }
  });
</script>
<script>
  layui.use('laydate', function(){
    var laydate = layui.laydate;
    //日期范围
    laydate.render({
      elem: '#test6'
      ,range: true
    });
  });
</script>