<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta content="webkit" name="renderer">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <link href="__PUBLIC__/layui/css/layui.css" media="all"  rel="stylesheet">
  <link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet" />
  <link href="__CSS__/admin.css" media="all"  rel="stylesheet">
</head>
<body style="padding:10px;">
  <div class="tplay-body-div"> 
      <div class="layui-tab">
        <ul class="layui-tab-title">
          <li><a class="a_menu" href="{:url('admin/client/channl')}">客户列表</a></li>
          <li class="layui-this">添加新客户</li>
        </ul>
      </div>
    <form class="layui-form" id="admin">


      <input name="client_type" type="hidden" value="2">
      {notempty name="$data"}
      <input name="client_id" type="hidden" value="{$data.client_id}">
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">客户备注</label>
        <div class="layui-input-block">
          <textarea class="layui-textarea" name="client_desc" placeholder="请输入内容">{$data.client_desc|default=''}</textarea>
        </div>
      </div>
      {else/}
      <div class="layui-form-item">
        <label class="layui-form-label">负责人姓名</label>
        <div class="layui-input-inline">
          <input autocomplete="off" class="layui-input" lay-verify="required" name="client_name" name="$data.client_name" placeholder="请输入" type="text" {{notempty}value="{$data.client_name}"/notempty}>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">负责人性别</label>
        <div class="layui-input-block">
          <input name="client_sex" name="@$data.client_sex" title="未知" type="radio" value="0" value="0" {eq}checked{/eq} checked="">
          <input name="client_sex" name="@$data.client_sex" title="男" type="radio" value="1" value="1" {eq}checked{/eq}>
          <input name="client_sex" name="@$data.client_sex" title="女" type="radio" value="2" value="2" {eq}checked{/eq}>
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">家庭成员</label>
        <div class="layui-input-block">
          <textarea class="layui-textarea" name="client_family" placeholder="请输入"></textarea>
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">个人爱好</label>
        <div class="layui-input-block">
          <textarea class="layui-textarea" name="client_hobby" placeholder="请输入"></textarea>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">单位名称</label>
        <div class="layui-input-inline">
          <input autocomplete="off" class="layui-input" lay-verify="required" name="client_company" name="$data.client_company" placeholder="请输入" type="text" {{notempty}value="{$data.client_company}"/notempty}>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">负责人电话</label>
        <div class="layui-input-inline">
          <input autocomplete="off" class="layui-input" lay-verify="required|phone" name="client_phone" name="$data.client_phone" placeholder="请输入" type="tel" {{notempty}value="{$data.client_phone}"/notempty}>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">客户微信</label>
        <div class="layui-input-inline">
          <input autocomplete="off" class="layui-input" lay-verify="" name="client_wechat" name="$data.client_wechat" placeholder="请输入" type="text" {{notempty}value="{$data.client_wechat}"/notempty}>
        </div>
      </div>



      <div class="layui-form-item address_box">
        <label class="layui-form-label">所在地区</label>
        <div class="layui-input-inline province_div">
          <select class="province" lay-filter="province" lay-verify="required" name="client_position_id">
            <option value="{$data.client_position_id|default=''}">请选择省</option>
            {if !empty($View_address)}
            {foreach name="View_address" item="v"}
            <option value="{$v.address_id}" >{$v.address_name}</option>
            {/foreach}
            {/if}
          </select>
        </div>
        <div class="layui-input-inline city_div">

        </div>
        <div class="layui-input-inline qu_div">

        </div>
        <div class="layui-input-inline street_div">

        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">详细地址</label>
        <div class="layui-input-block">
          <input autocomplete="off" class="layui-input" lay-verify="" name="client_position_details" name="$data.client_position_details" placeholder="请输入" type="text" {{notempty}value="{$data.client_position_details}"/notempty}>
        </div>
      </div>
      {/notempty}







      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-filter="admin" lay-submit>立即提交</button>
          <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
      </div>
      
    </form>



    </div>
</body>
</html>
<script src="__PUBLIC__/layui/layui.js"></script>
<script src="__PUBLIC__/jquery/jquery.min.js"></script>
<script>
  var message;
  layui.config({
    base: '__JS__/',
    version: '1.0.1'
  }).use(['app', 'message'], function() {
    var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
    //将message设置为全局以便子页面调用
    message = layui.message;
    //主入口
    app.set({
      type: 'iframe'
    }).init();
  });
</script>
<script>
  layui.use(['layer', 'form'], function() {
    var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;
    $(window).on('load', function() {
      form.on('submit(admin)', function(data) {
        $.ajax({
          url:"{:url('admin/client/ChannlPublish')}",
          data:$('#admin').serialize(),
          type:'post',
          async: false,
          success:function(res) {
            if(res.code == 1) {
              layer.alert(res.msg, function(index){
                location.href = res.url;
              })
            } else {
              layer.msg(res.msg);
            }
          }
        })
        return false;
      });
    });
  });
</script>
<script>
  layui.use(['form', 'layer'], function () {
    $ = layui.jquery;
    var form = layui.form;
    //选择省时触发事件获取其下市数据
    form.on('select(province)', function(data){
      var item = $(this).parents('.layui-form-item')
      // console.log(item)
      $('.city_div').html('')
      $('.qu_div').html('')
      $('.street_div').html('')
      address(data,item)
    });
    form.on('select(city)', function(data){
      var item = $(this).parents('.layui-form-item')
      // console.log(item)
      $('.qu_div').html('')
      $('.street_div').html('')
      address_qu(data,item)
    });
    form.on('select(qu)', function(data){
      var item = $(this).parents('.layui-form-item')
      // console.log(item)
      $('.street_div').html('')
      address_street(data,item)
    });
    // $(window).on('load', function() {
    //   var item = $(this)
    //   var data=[];
    //   data.value="{$data.user_sheng|default=''}";
    //   address(data,item)
    // });

    function address(data,item){
      layer.load()
      $.getJSON("{:url('admin/Address/address')}?address_id="+data.value, function(data){
        if(data.code == '1'){
          var str= '          <select lay-verify="required" name="client_position_id" class="city" lay-filter="city">\n' +
                  '            <option value="">请选择市</option>\n' +
                  '          </select>\n';
          $('.city_div').html(str)
          var optionstring = "";
          $.each(data.data, function(i,item ){
            optionstring += "<option value=\"" + item.address_id + "\">" + item.address_name + "</option>";
          });
          $(".city").html('<option value=""></option>' + optionstring);
          form.render('select');
          layer.closeAll()
        }else{
          layer.closeAll()
          // layer.msg(data.msg);
        }

      });
    }
    function address_qu(data,item){
      layer.load()
      $.getJSON("{:url('admin/Address/address_qu')}?address_id="+data.value, function(data){
        if(data.code == '1'){
          var str='          <select lay-verify="required" name="client_position_id" class="qu" lay-filter="qu">\n' +
                  '            <option value="">请选择区/县</option>\n' +
                  '          </select>\n';
          $('.qu_div').html(str)
          var optionstring = "";
          $.each(data.data, function(i,item ){
            optionstring += "<option value=\"" + item.address_id + "\">" + item.address_name + "</option>";
          });
          $(".qu").html('<option value=""></option>' + optionstring);
          form.render('select');
          layer.closeAll()
        }else{
          layer.closeAll()
          // layer.msg(data.msg);
        }

      });
    }

    function address_street(data,item){
      layer.load()
      $.getJSON("{:url('admin/Address/address_street')}?address_id="+data.value, function(data){
        if(data.code == '1'){
          var str='          <select lay-verify="required" name="client_position_id" class="street" lay-filter="street">\n' +
                  '            <option value="">请选择乡镇/街道</option>\n' +
                  '          </select>\n';
          $('.street_div').html(str)
          var optionstring = "";
          $.each(data.data, function(i,item ){
            optionstring += "<option value=\"" + item.address_id + "\">" + item.address_name + "</option>";
          });
          $(".street").html('<option value=""></option>' + optionstring);
          form.render('select');
          layer.closeAll()
        }else{
          layer.closeAll()
          // layer.msg(data.msg);
        }

      });
    }
  });
</script>