<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
</head>
<body style="padding:10px;">
<div class="tplay-body-div">
    <form class="layui-form" id="admin">
        <input type="hidden" name="lowest_price" value="{$lowest_price}">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-inline">
                <input name="good_name" readonly value="{$good.good_name|default=''}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">出库备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入" name="good_desc" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最低出库价</label>
            <div class="layui-input-inline">
                <input name="good_price" lay-verify="required" min="{$lowest_price}" value="{$lowest_price}" placeholder="请输入" autocomplete="off" class="layui-input" type="number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出库数量</label>
            <div class="layui-input-inline">
                <input name="good_amount" lay-verify="required" min="1" value="1" step="1" onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" placeholder="请输入" autocomplete="off" class="layui-input" type="number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出库总价</label>
            <div class="layui-input-inline">
                <input name="good_total" readonly lay-verify="required" min="0"  placeholder="请输入" autocomplete="off" class="layui-input" type="number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择客户</label>
            <div class="layui-input-inline">
                <select name="client_id" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    {if !empty($client)}
                    {foreach name="client" item="v"}
                    <option value="{$v.client_id}" >{$v.client_name}</option>
                    {/foreach}
                    {/if}
                </select>
            </div>
        </div>
        <input type="hidden" name="good_id" value="{$good_id|default=''}">

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>



</div>
</body>
</html>
<script src="__PUBLIC__/layui/layui.js"></script>
<script src="__PUBLIC__/jquery/jquery.min.js"></script>
<script>
    var message;
    layui.config({
        base: '__JS__/',
        version: '1.0.1'
    }).use(['app', 'message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
    });
</script>
<script>
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;
        $(window).on('load', function() {
            form.on('submit(admin)', function(data) {
                $.ajax({
                    url:"{:url('admin/WarehouseGoodLog/GoodOut')}",
                    data:$('#admin').serialize(),
                    type:'post',
                    async: false,
                    success:function(res) {
                        if(res.code == 1) {
                            layer.alert(res.msg, function(index){
                                location.href = res.url;
                            })
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                })
                return false;
            });
        });
    });
</script>
<script>
    total_price();
    $('input[name=good_price],input[name=good_amount]').bind('input propertychange', function() {
        total_price();
    });
    $('input[name=good_price],input[name=good_amount]').click(function() {
        total_price();
    });
    function total_price() {
        var price = $('input[name=good_price]').val()
        var amount = $('input[name=good_amount]').val()
        var total_price = Number(price)*Number(amount)
        $('input[name=good_total]').val(total_price)
    }
</script>